
$white: #fff;
$black: #000;

$overlay: #67747a;

$mobile-width: 600px;
$tablet-width: 990px;
$minScreen: 1250px;

$fontSizeNormal: 1rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$fontFamily: 'Montserrat', sans-serif;

$topNavHeight: 3.5rem;
$menuWidth: 16rem;

