
$white: #fff;
$black: #000;

$main-color: #ff3366;
$second-color: rgb(26, 26, 27);

$overlay: #67747a;

$mobile-width: 600px;
$tablet-width: 990px;
$minScreen: 1400px;

$fontSizeNormal: 1rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$fontFamily: 'Montserrat', sans-serif;

$topNavHeight: 4.5rem;
$menuWidth: 16rem;

