@use '../../scss/abstracts/' as *;

.boxChartLine {
    margin: 0 1rem;
    @include tablet {
        margin-bottom: 2rem;
    }

    &__content {
        position: relative;
        border-radius: 5px;
        height: 26rem;

        @include mobile {
            height: 35rem;
        }

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 30px;
            background-color: $oceanColor;
            top: 20px;
            left: 0;
        }

        &__top {
            @include flex(center, space-between);
            padding: 1.5rem 0.5rem;

            @include mobile {
                @include flex(flex-start, flex-start);
                flex-direction: column;
            }

            &__title {
                margin-left: 1rem;
                font-size: large;

                @include mobile {
                    font-size: 1.2rem;
                }
            }

            &__combo-box {
                border-radius: 5px;
                padding: 0.3rem 1rem;
                margin-right: 1rem;

                @include mobile {
                    margin: 1rem 0 0 1rem;
                    width: 93%;
                }

                & > select {
                    outline: 0;
                    border: 0;
                    font-size: medium;

                    @include mobile {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        &__mid {
            color: #fff;
            background-color: $oceanColor;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 1rem;

            @include mobile {
                grid-template-columns: repeat(1, 1fr);

                & > * ~ * {
                    margin-top: 2rem;
                }
            }

            &__item {
                &__text {
                    font-size: small;
                }

                &__value {
                    font-size: x-large;

                    @include mobile {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        &__bottom {
            margin-top: 2rem;
            padding: 0 2rem;
            
            & > canvas {
                max-height: 200px;
                width: 100% !important;
            }

            @include mobile {
                padding: 0 1rem;
            }
        }
    }
}
