@use '../scss/abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    // overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: $fontFamily;
    font-size: $fontSizeNormal;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-color: $main-color;
        bottom: -0.5rem;
        left: calc(50% - 2.5rem);
        width: 5rem;
        height: 5px;
    }
}

